body.login {
	background-color: #fff;
}
.login h1 a {
  background-image: url('../images/logos/logo-sm.png');
  background-size: auto;
  height: 93px;
  width: 204px;
}
.login label {
  font-size: 14px;
  color: #333;
}
.login input[type="text"],
.login input[type="password"] {
  background-color: #ffffff;
  color: #000;
  -webkit-border-radius: 4px;
}
.login .button-primary {
	background-color: #18A9E1;
  background: -webkit-gradient(linear, left top, left bottom, from(#18A9E1), to(#18A9E1));
  background: -webkit-linear-gradient(top, #18A9E1, #18A9E1);
  background: -moz-linear-gradient(top, #18A9E1, #18A9E1);
  background: -ms-linear-gradient(top, #18A9E1, #18A9E1);
  background: -o-linear-gradient(top, #18A9E1, #18A9E1);
  background-image: -ms-linear-gradient(top, #18A9E1 0%, #18A9E1 100%);
	-webkit-border-radius: 0px;
	color: #fff;
  color: 1px solid #1a84e1;
  padding: 5px 10px;
}
.login .button-primary:hover,
.login .button-primary:active  {

}
.login .button-primary:active {

}
p#backtoblog {
  display: none;
}
.login #nav {
	color: #000;
}
.login #nav a {
	color: #337ab7;
  text-decoration: none;
}
.login #nav a:hover,
.login #nav a:active {
	color: #23527c;
  text-decoration: underline;
}