/* blog landing */
.tru-blog-landing {
    .title {
        h2 {

        }
    }
    
    .excerpt {
	    margin-top: 1rem;
        margin-bottom: 2rem;
    }
}

/* blog single */
.tru-blog-single { 
    footer.entry-meta {
	    margin-bottom: 15px;
        background: $whitesmoke;
        margin-top: 30px;
    }
	
	.power-rankings {
    	list-style-type: none;
    	
    	.rider {
        	margin-top: 15px;
        	margin-bottom: 15px;
        	
        	.rider-rank {
            	margin-top: 1em;
        	}
        	.image-wrap {
            	display: flex;
            	flex-wrap: wrap;
            	align-items: center;
            	
            	img {
                    border-radius: 5px;
            	}
        	}
        	.rider-name {
            	font-weight: bold;
            	margin-left: 5px;
        	}
    	}
	}
}