/* blog landing */
.tru-blog-landing {
    .title {
        h2 {

        }
    }
    
    .excerpt {
	    margin-top: 1rem;
        margin-bottom: 2rem;
    }
}

/* blog single */
.tru-blog-single { 
    /* sharing */
    .sharedaddy {
        .sd-title {
            display: none;
        }
        
        .sd-content {
            ul {
                li {
                    margin: 0 10px 5px 0;
                }
            }
        }
    }	
    
	.power-rankings {
    	list-style-type: none;
    	
    	.rider {
        	margin-top: 15px;
        	margin-bottom: 15px;
        	
        	.rider-rank {
            	margin-top: 1em;
        	}
        	.image-wrap {
            	display: flex;
            	flex-wrap: wrap;
            	align-items: center;
            	
            	img {
                    border-radius: 5px;
            	}
        	}
        	.rider-name {
            	font-weight: bold;
            	margin-left: 5px;
        	}
    	}
	}
	
    footer.entry-meta {
	    margin-bottom: 15px;
        //background: $whitesmoke;
        background: transparent;
        margin-top: 30px;
        
        .tags-list {
            .tags-title {
                text-transform: uppercase;
                font-weight: 600;
            }
            .tag-links {
                a {
                    padding: 5px;
                    background: $whitesmoke;
                }
            }
        }

        .categories-list {
            margin-top: 15px;
            
            .categories-title {
                text-transform: uppercase;
                font-weight: 600;
            }
            .categories-link {
                a {
                    padding: 5px;
                    background: $whitesmoke;
                }
            }
        }
    }	
}