/* blog landing */
.tru-blog-landing {
    .title {
        h2 {
            font-size: 1.5rem;
        }
    }
    
    .excerpt {
	    margin-top: 1rem;
        margin-bottom: 2rem;
    }
}

/* blog single */
.tru-blog-single .entry-meta {
	margin-bottom: 15px;
}