footer {
	border-top: none;
	background: $light_gray;
	background-color: $light_gray;
	margin-top: 30px;
	padding-bottom: 30px;
	padding-top: 30px;

    h3 {
        margin-top: 0;
    }
    
    ul {
	    list-style-type: none;
        padding: 0;
        margin: 0;
    }    
    
	.footer-widgets {
		padding: 10px 0 20px 0;
    }        
        
    .footer-col {
	    margin-bottom: 30px;
	    
	    &:last-child {
    	    margin-bottom: 0;
	    }
    }
    
    .footer2 {
        text-align: right;
    }
    
    .footer-set {
        @media (min-width: 576px) {
            text-align: right;    
        }
        
    	.footer-social {
            .social {
            	overflow: hidden;
                display: inline-block;
                
                li {
                    float: left;
                    
                    i {
                        font-size: 30px;
                        margin-right: 15px;                    
                    }
                }    
            }
    	}

        .primary-copyright {
		    padding: 10px 0;
        }
    }
}