/* this also applies to the inner blog pages */
.home {      
    .excerpt {
	    margin-top: 1rem;
        margin-bottom: 2rem;
    }
    
    .list-post-thumbnail {
        text-align: center;
    }
}