.posts-navigation,
.post-navigation { 
	overflow: hidden;
	padding: 15px 0;
}

.posts-navigation { 
	.nav-links > div {
		float: left;
		width: 50%;
    }

	.nav-next {
		text-align: right;
    }

	.nav-links .nav-subtitle { 
		color: $black;
    }

	.nav-links a:hover { 
		text-decoration: none;
    }

	.nav-links .nav-title {}
}