.crm-results-rider .label {
	color: #000;
	padding: 0;
	font-size: 100%;
	border-radius: 0;
}
.crm-results .flag .flag-icon,
.crm-results span.nat {
	margin-left: 5px;
}
.crm-results-race .race-details {
	margin-bottom: 1em;
}
.crm-results-rider .top-results,
.crm-results-rider .championships {
  margin-top: 1em;
}
.crm-results-main .crm-results-races .row:nth-child(odd),
.crm-results-main .crm-results-riders .row:nth-child(odd),
.crm-results-rider-rankings .rider-rankings .row:nth-child(even),
.crm-results-race .single-race .row:nth-child(even),
.crm-results-races .row:nth-child(even),
.crm-results-rider .single-rider-results .row:nth-child(odd) {
    background: #eee;
}