.dropdown-submenu { 
	position: absolute;
	top: 0;
	left: 100%;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	list-style: none;
	background-color: $white;
	border: 1px solid $light_gray;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
}

.dropdown-submenu > li > a  {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.428571429;
	color: $extra_dark_gray;
	white-space: nowrap;
}

.dropdown-submenu > li > a:hover,
.dropdown-submenu > li > a:focus { 
	color: $gray_15;
	text-decoration: none;
	background-color: $white_smoke;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus { 
	background-color: $gray_91;
	background-image: -webkit-gradient(linear, left 0%, left 100%, from($white_smoke), to($gray_91));
	background-image: -webkit-linear-gradient(top, $white_smoke 0%, $gray_91 100%);
	background-image: -moz-linear-gradient(top, $white_smoke 0%, $gray_91 100%);
	background-image: linear-gradient(to bottom, $white_smoke 0%, $gray_91 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.dropdown-menu .sub-level.active > a,
.dropdown-menu > .current-menu-ancestor > a,
.dropdown-menu > .current-menu-ancestor > a:hover { 
	background-color: $nav_blue;
	background-image: -webkit-gradient(linear, left 0%, left 100%, from($nav_light_blue), to($nav_blue));
	background-image: -webkit-linear-gradient(top, $nav_light_blue 0%, $nav_blue 100%);
	background-image: -moz-linear-gradient(top, $nav_light_blue 0%, $nav_blue 100%);
	background-image: linear-gradient(to bottom, $nav_light_blue 0%, $nav_blue 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0);
}

.dropdown-menu .sub-level.active > a { 
	color: $white; 
}

.dropdown-menu > .current-menu-ancestor > a,
.dropdown-menu > .current-menu-ancestor > a:hover { 
	color: $white;
}

.dropdown.sub-level:hover > .dropdown-submenu { 
	display: block;
} 

/* allows the dropdown to activate on hover, not click */
.dropdown-menu .sub-menu { 
	left: 100%;
	position: absolute;
	top: 0;
	visibility: hidden;
	margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu { 
	visibility: visible;
}

.dropdown:hover .dropdown-menu { 
	display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu { 
	margin-top: 0;
}

.navbar .sub-menu:before { 
	border-bottom: 7px solid transparent;
	border-left: none;
	border-right: 7px solid rgba(0, 0, 0, 0.2);
	border-top: 7px solid transparent;
	left: -7px;
	top: 10px;
}

.navbar .sub-menu:after { 
	border-top: 6px solid transparent;
	border-left: none;
	border-right: 6px solid $white;
	border-bottom: 6px solid transparent;
	left: 10px;
	top: 11px;
	left: -6px;
} 

.right-caret { 
	border-bottom: 4px solid transparent;
	border-top: 4px solid transparent;
	border-left: 4px solid $black;
	height: 0;
	width: 0;
	position: absolute;
	right: 10px;
	top: 9px;
}

.navbar-default .navbar-nav .dropdown > a .right-caret { 
	border-left-color: $extra_dark_gray;
	border-right-color: $extra_dark_gray;
} 

.navbar-default .navbar-nav .dropdown > a:hover .right-caret,
.navbar-default .navbar-nav .dropdown > a:focus .right-caret { 
	border-left-color: $extra_dark_gray;
	border-right-color: $extra_dark_gray;
}
	
.left-caret { 
	border-bottom: 4px solid transparent;
	border-top: 4px solid transparent;
	border-right: 4px solid $black;
	height: 0;
	width: 0;
	position: absolute;
	left: 10px;
	top: 9px;
}

.navbar-default .navbar-nav .dropdown > a .left-caret { 
	border-left-color: $extra_dark_gray;
	border-right-color: $extra_dark_gray;
} 

.navbar-default .navbar-nav .dropdown > a:hover .left-caret,
.navbar-default .navbar-nav .dropdown > a:focus .left-caret { 
	border-left-color: $extra_dark_gray;
	border-right-color: $extra_dark_gray;
} 

.dropdown-submenu.flip-left { 
	right: 100%;
	left: auto;
}

@media only screen and (max-width: 767px) { 
	.dropdown:hover > .dropdown-menu { 
		display: none;
    }
    
	.dropdown.open > .dropdown-menu { 
		display: block;
    }
}