.home .navbar {
	background-color: $white;
}

.navbar {
    .navbar-toggler {
        background-color: $dark_gray;
        
        &:hover {
            padding: 0.25rem 0.75rem;
            border-color: $light_gray;
            
            .fa-bars {
                color: $light_gray;
            }
        }
    }
    
    .primary-menu {
        .navbar-nav {
            > li > a {
    	        color: $black;
    	    
                &:focus,
                &:hover {
                    color: $dark_gray;
                    background-color: transparent;
                    text-decoration: none;    	    
                }
            }
            
            > .active > a {
                color: $black;
                background-color: #18A9E1; 
                
                &:focus,
                &:hover {
                    color: $black;
                    background-color: #18A9E1;    	    
                }                       
            }
            
            .menu-item {
                margin-right: 15px;
            }
        }

        /* mobile */
        &.show {
            background: $light_gray;
            margin: 0.5rem -1rem -0.5rem -1rem;
            padding: 0.5rem 1rem;
            .navbar-nav {
                .menu-item {
                    a {}
                }
            }
        }        
    }   
}