.home .navbar-default {
	background-color: #fff;
}
.tru-header-nav {
	margin-top: 4px;
}
.navbar {
	margin-top: 0;
}
.navbar-default .navbar-nav>li>a {
	color: #000;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #B3B4B4;
  background-color: transparent;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #000;
  background-color: #18A9E1;
}